h1{
    background-color: #ce99ff;
    padding: 15px;
    border-radius: 10px;
    font-family: "Monaco", monospace;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 40px;
}

body{
    background: linear-gradient(90deg, #9f39ff, #000000);
}

p{
    font-family: "Monaco", monospace;
    color: rgb(0, 0, 0);
    font-size: 25px;
}

.container {
    display: grid;
    place-items: center;
    gap: 20px;
}

.text-block {
    background-color: #ce99ff;
    padding: 10px;
    padding-inline: 20px;
    display: flex;
    flex-direction: row;
    align-items: left;
    width: 70%;
    border-radius: 15px;
}