body {
    background: linear-gradient(90deg, #0d1730 0%, #27173f 50%, #120d1f 100%);
    margin-inline: 40px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    font-weight: 800;
    text-align: left;
    color: #ffffff;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #7c36bd;
    text-align: left;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 20px;
    line-height: 2;
    width: 1000px;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 20px;
}

li {
    line-height: 1.75;
}

.center-text {
    display: flex;
    flex-direction: column;
}

.contact-button {
    display: block;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ce99ff;
    width: 175px;
    text-align: center;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-color: #7c36bd;
}

.contact-button:hover {
    box-shadow: 0 0 16px #ce99ff;
}

.main-nav {
    display: flex;
    gap: 28px;
    align-items: center;
}

.main-nav a {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.name {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-image {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 4px solid #ce99ff;
    position: absolute;
    top: 100px;
    right: 175px;
}

.topbar {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 800;
}

.text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
