h1 {
    margin: 0;
    font-size: 80px;
    font-weight: 800;
    text-align: left;
}

h2 {
    margin: 8px 0 18px;
    font-size: 40px;
    font-weight: 600;
    color: #7c36bd;
    text-align: left;
}

body{
    background: linear-gradient(90deg, #0d1730 0%, #27173f 50%, #120d1f 100%);
}

p{
    font-family: "Monaco", monospace;
    color: rgb(0, 0, 0);
    font-size: 25px;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}

.container {
    display: grid;
    place-items: center;
    gap: 20px;
}

.text-block {
    background-color: #ce99ff;
    padding: 10px;
    padding-inline: 20px;
    display: flex;
    flex-direction: row;
    align-items: left;
    border-radius: 15px;
}