h1 {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    font-weight: 800;
    text-align: left;
}

h2 {
    margin: 8px 0 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #7c36bd;
    text-align: left;
}

body{
    background: linear-gradient(90deg, #0d1730 0%, #27173f 50%, #120d1f 100%);
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 25px;
}

.container {
    display: grid;
    place-items: center;
    gap: 20px;
}

.contact-button {
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ce99ff;
    width: 150px;
    text-align: center;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-color: #7c36bd;
}

.contact-button:hover {
    box-shadow: 0 0 16px #ce99ff;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}

.text-block {
    background-color: #ce99ff;
    padding: 10px;
    padding-inline: 20px;
    display: flex;
    flex-direction: row;
    align-items: left;
    border-radius: 15px;
}

.topbar{
    margin: 0 auto;
    padding: 24px 40px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

